<%- include('dashboard_Header') -%>

        <h1 id="tag" class="h2"><i class="bi bi-server"></i> Error applying your request</h1><hr>
      </div>
       
        <div class="feed-card post">
          <div class="post-header">
            <p><i class="bi bi-hdd-stack-fill"></i></p>
            <div class="post-info">
              <h3 class="post-info--name"> Error handling your Delete request  </h3>
              
              <div class="post-info--city">
                <i class="fas fa-map-marker-alt bigger"></i> Server
              </div>
            </div>
          </div>
          <div class="post-content">
            <p class="post-content--text">
              status code 500
            <br><hr>  please try again later <br><hr></p>
          </div>
        </div>
        

<%- include('dashboard_footer') -%></br>