<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.15.3/css/all.css"
      integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk"
      crossorigin="anonymous"
    />

    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/css/style.css" />
    <title>Messagerie</title>
  </head>
  <body>
    <nav class="nav-bar">
      <nav class="nav">
        <a href="#"><img class="logo" src="/images/logo2.png" alt="" /></a>
        <ul class="nav-links">
          <li class="nav-item">
            <img
              class="profile-picture"
              src="/images/profile.jpg"
              alt="profile-picture"
            />
          </li>
        </ul>
      </nav>
    </nav>

    <div class="content-container">
      <div class="content">
        <div class="menu-container">
          <div class="menu-card menu-section profile-info-card">
            <img
              src="/images/profile.jpg"
              class="profile-picture"
              alt="profile picture"
            />
            <div class="profile-info-card--content">
              <h3 class="profile-name">Lyes Kellouche</h3>
              <span class="city-title"
                ><i class="fas fa-map-marker-alt"></i> Algiers
              </span>
            </div>
          </div>

          <div class="menu-card menu-options">
            <ul class="menu-links">
              <li class="menu-link">
                <a href="http://localhost:3000/main-feed"
                  ><i class="fas fa-home"></i> Accueil</a
                >
              </li>
              <li class="menu-link menu-link--active">
                <a href="http://localhost:3000/messages"
                  ><i class="fas fa-comment"></i> Messages</a
                >
              </li>
              <li class="menu-link">
                <a href="http://localhost:3000/profile"
                  ><i class="fas fa-user-alt"></i> Mon Profil</a
                >
              </li>
              <li class="menu-link">
                <a href="http://localhost:3000/settings"><i class="fas fa-cog"></i> Paramètres</a>
              </li>
              <li class="menu-link">
                <a href="#"
                  ><i class="fas fa-sign-out-alt"></i> Se déconnecter</a
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="application-messagerie">
          <h2>Pas Encore Prete</h2>
        </div>
      </div>
    </div>
  </body>
</html>
